body {
  font: 1.2em "Hoefler Text", Georgia, serif;
  line-height:1.2em;
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
}

h1 {
  padding:6px;
  margin:0;
  line-height:1.2em;
}

h2 {
  padding:0;
  margin:0;
  line-height:1em;
  font-size:112%;
}

#header a {
  color:#fff;
}

#header #login, #header #edit {
  float:right;
}

h3 {
  margin-bottom:0;
  margin-top:4px;
}

h4 {
  margin:4px;
}

#header {
  background:#9a9;
  padding:8px;
  text-shadow: 0 0 4px #000;
  color:#fff;
}

#content {
  width:700px;
  padding:10px;
  background:#f9f9f9;
/*  float:left;*/
  margin-top:0;
  margin-left:240px;
}

label {
  display:block;
  clear:left;
}

#post .body {
  padding:5px 15px;
}

#posts .body {
  padding:5px 10px;
}
.body img {
  border:2px solid #fff;
  margin-left:133px;
}

#posts li {
  margin-bottom:16px;
}

.date {
  font-size:80%;
  margin-top:0;
}

p.post {
  font-family: serif;
  margin:10px;
}

#post, #posts, #comments {
  display:none;
}

#comments {
  font-size:80%;
  background:#fdfdfd;
  padding:12px;
  margin:8px;
  border:4px #fff;
}

#comments ul {
  padding:0;
}

#comments li {
  border:4px solid #ebebeb;
  background:#fbfbfb;
  margin:20px 0;
  padding:3px 3px 3px 3px;
}

#comments h4 {
  background:#ebebeb;
  padding:1px 0 0 5px;
}

img.gravatar {
  width:40px;
  height:40px;
  float:left;
  margin:2px 8px;
  border:2px solid #fff;
}

ul {
  margin:0;
  list-style: none;
}

.body ul {
  list-style: disc;
}

form {
  padding:10px;
/*  background:#ddd;*/
}

fieldset {
  background:#ebebeb;
}

fieldset#author {
  float:left;
  width:20%;
}

textarea {
  padding:2px;
}
