<!DOCTYPE html>
<html>
  <head>
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="{{ assets }}/screen.css" type="text/css">
  </head>
  <body>
    {{>header}}
    <div id="content">
    <!-- form to create a post -->
    <form id="new-post" action="new.html" method="post">
      <h1>{{pageTitle}}</h1>
        <p><label>Title</label>
          <input type="text" size="50" name="title" value=""></p>
      <p><label for="body">Body</label>
      <textarea name="body" rows="28" cols="80"></textarea></p>
      <p>
        <label for="tags">Tags (split by ',')</label><input type="text" name="tags" value="" id="tags">
      </p>
      <p>
        <input id="preview" type="button" value="Preview"/>
        <input type="submit" value="Save &rarr;"/> <span id="saved" style="display:none;">Saved</span>
        </p>
    </form>
    <a target="_new" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown help</a>
      <div id="show-preview"></div>
    </div>
  </body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="../../vendor/couchapp/jquery.couch.app.js"></script>
  <script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
  <script src="../../vendor/couchapp/jquery.evently.js"></script>
  <script src="../../vendor/couchapp/jquery.mustache.js"></script>
  <script src="../../jquery.scrollTo.js"></script>
  <script src="../../showdown.js"></script>
  <script src="../../textile.js"></script>
  <script src="../../script/app.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
        var path = app.require("vendor/couchapp/commonjs/path").init(app.req);
        // var format = app.require("lib/format");
        var postForm, blog = app.require("lib/blog");
        $("#account").evently({
          loggedIn : function(e,r) {
            var userCtx = r.userCtx;
            postForm = app.docForm("form#new-post", {
              id : {{ docid }},
              fields : ["title", "body", "tags"],
              template : {
                type : "post",
                format : "markdown",
                author : userCtx.name
              },
              onLoad : function(doc) {
                if (doc._id) {
                  // todo: $('h1').html('Editing '+paths.linkTo("post", doc));                  
                  $('h1').html('Editing <a href="'+path.show('post',doc._id)+'">'+doc._id+'</a>');                  
                  $('#preview').before('<input type="button" id="delete" value="Delete Post"/> ');
                  $("#delete").click(function() {
                    postForm.deleteDoc({
                      success: function(resp) {
                        $("h1").text("Deleted "+resp.id);
                        $('form#new-post input').attr('disabled', true);
                      }
                    });
                    return false;
                  });
                }
                $('label[for=body]').append(' <em>with '+(doc.format||'html')+'</em>');
              },
              beforeSave : function(doc) {
                if (!doc.created_at) {
                  doc.created_at = new Date();
                }
                if (!doc._id) {
                  doc._id = blog.slugifyString(doc.title);
                }
                if(doc.tags) {
                  doc.tags = doc.tags.split(",");
                  for(var idx in doc.tags) {
                    doc.tags[idx] = $.trim(doc.tags[idx]);
                  }
                }
              },
              success : function(resp) {
                $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(6000);
                $('h1').html('Editing <a href="'+path.show('post',doc._id)+'">'+doc._id+'</a>');                  
              }
            });
          }
        })

        var formatBody = function(body, format) {
          if (format == 'markdown') {
            var converter = new Showdown.converter();
            return converter.makeHtml(body);
          } else if (format == 'textile') {
            return "superTextile(body);" // TODO use commonjs one
          } else {
            return body;
          }
        }

        $("#preview").click(function() {
          var doc = postForm.localDoc();
          var html = formatBody(doc.body, doc.format);
          $('#show-preview').html(html);
          $('body').scrollTo('#show-preview', {duration: 500});
        });
      });
  </script>
</html>