<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../screen.css" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" 
      title="Atom Feed" href="{{ feedPath }}"/>
  </head>

  <body>
    <div id="header">
      <div id="account"></div>
      <h2><a href="{{ index }}">{{ title }}</a></h2>
    </div>
    <div id="tags-front"></div>
    <div id="content">
      <h1>Recently...</h1>
      <ul id="posts">
        {{#posts}}
          <li>
            <h3><a href="{{ link }}">{{ title }}</a></h3>
            <span class="date" title="{{ date }}">{{ date }}</span>
            <div class="body">{{ summary }}</div>
          </li>
        {{/posts}}
    </ul>
    <div class="paginate">
      <a href="{{ older }}">older posts</a>
      <a href="{{5}}">5</a>
      <a href="{{10}}">10</a>
      <a href="{{25}}">25</a>      
    </div>

  </div>
</body>
<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.js"></script>
<script src="/_utils/script/jquery.couch.js"></script>
<script src="/_utils/script/jquery.form.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
<script src="../../vendor/couchapp/jquery.evently.js"></script>
<script src="../../vendor/couchapp/jquery.mustache.js"></script>
<script src="../../vendor/couchapp/jquery.couch.docform.js"></script>
<script src="../../script/app.js"></script>
</html>