<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../screen.css" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" 
      title="Atom Feed" href="{{ feedPath }}"/>
  </head>
  <body>
    {{>header}}
    <div id="tags-front"></div>
    <div id="content">
      <h1>Recently...</h1>
      <ul id="posts">
        {{#posts}}
          <li>
            <h3><a href="{{ link }}">{{ title }}</a></h3>
            <span class="by">
              <span class="date">{{ date }}</span> 
              by {{author}}
            </span>
          </li>
        {{/posts}}
    </ul>
    <div class="paginate">
      <a href="{{ older }}">older posts</a>
      <a href="{{5}}">5</a>
      <a href="{{10}}">10</a>
      <a href="{{25}}">25</a>      
    </div>
  </div>
</body>
<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.js"></script>
<script src="/_utils/script/jquery.couch.js"></script>
<script src="/_utils/script/jquery.form.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
<script src="../../vendor/couchapp/jquery.evently.js"></script>
<script src="../../vendor/couchapp/jquery.mustache.js"></script>
<script src="../../vendor/couchapp/jquery.couch.docform.js"></script>
<script src="../../script/app.js"></script>
<script type="text/javascript" charset="utf-8">
  $.couch.app(function() {
    // todo browse by tags
    this.design.view("tags",{
      descending: true, 
      group: true,
      success: (function(json) {
        var total = 0;
        for(var idx in json.rows) {
          total += json.rows[idx].value;
        };
        var tags = [];
        for(var idx in json.rows) {
          var percent = Math.ceil(Math.pow((json.rows[idx].value / total), 0.25) * 200);
          tags.push('<span style="font-size:'+percent+'%;">' + json.rows[idx].key + '</span>');
        };
        $("#tags-front").append(tags.join(" "));
      })
    });
  });
</script>
</html>