<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} : {{ blogName }}</title>
    <link rel="stylesheet" href="../../screen.css" type="text/css">
  </head>
  <body>
    {{>header}}
    <div id="content">
      <h1>{{ title }}</h1>
      <div id="post">
        <span class="date">{{ date }}</span>
        <div class="body">{{{ html }}}</div>
      </div>
      <div id="tags"></div>
      <div id="comments">
        <ul>
          {{#comments}}
          <li>
            <h4>
              {{#url}}<a href="{{url}}">{{/url}}
                {{author}}
              {{#url}}</a>{{/url}}
            </h4>
            <img class="gravatar" src="{{avatar}}"/>
            <p>{{comment}}</p>
          </li>
          {{/comments}}
        </ul>
        <!-- form to create a comment -->
        <form id="new-comment" action="post.html" method="post">
          <h3>Comment on this post</h3>
          <p><label>Name</label>
          <input type="text" name="commenter-name" value=""></p>
          <p><label>Url <em>(optional)</em></label>
          <input type="text" name="commenter-url" value=""></p>
          <p><label>Email <em>(for <a href="http://gravatar.com">Gravatar</a>)</em></label>
          <input type="text" name="commenter-email" value=""></p>
          <p><label>Comment <em>(with <a href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown</a>)</em></label>
          <textarea name="comment" rows="8" cols="40"></textarea></p>
          <p>
            <input type="button" id="preview" value="Preview">
            <input type="submit" value="Save &rarr;">
          </p>
        </form>
        <div id="comment-preview"></div>
      </div>
    </div>    
  </body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="../../vendor/couchapp/jquery.couch.app.js"></script>
  <script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
  <script src="../../vendor/couchapp/jquery.evently.js"></script>
  <script src="../../vendor/couchapp/jquery.mustache.js"></script>
  <script src="../../blog.js"></script>
  <script src="../../script/app.js"></script>
  <script type="text/javascript" charset="utf-8">
  $.CouchApp(function(app) {
      var docid = document.location.pathname.split('/').pop();
      var B = new Blog(app);
      
      var commentForm = app.docForm("form#new-comment", {
        fields : [
          "commenter-name", 
          "commenter-email", 
          "commenter-url", 
          "comment"
        ],
        template : {
          type : "comment",
          post_id : docid,
          format : "markdown"
        },
        beforeSave : function(doc) {
          doc.created_at = new Date();
        },
        success : function(resp, doc) {
          $("#new-comment").html('<h2>Success! Your comment has posted.</h2><p>Refresh the page to see it.</p>');
        }
      });
      
      $("#preview").click(function() {
        var doc = commentForm.localDoc();
        var html = B.formatBody(doc.comment, doc.format);
        $('#comment-preview').html(html);
      });
    });
  </script>
  <script src="{{ assets }}/showdown.js"></script>
</html>